.footer{
    text-align: center;
    .sociel-media .fa {
        padding: 12px 0px;
        font-size: 24px;
        width: 50px;
        text-align: center;
        text-decoration: none;
        border-radius: 100%;
        margin:0px 10px;
      }
      .fa:hover {
        opacity: 0.7;
      }
      .fa-facebook,.fa-instagram,.fa-twitter{
        color: white;
      }
    
      .fa-facebook {
        background: #3B5998;
      }
      .fa-twitter {
        background: #55ACEE;
      }
      .fa-instagram {
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%); 
      }
}