header {
    padding: 40px 0px;
    transition: 0.5s ease-in-out;
    width: 100%;
    z-index: 10000;
    .Header__NavBar{
        @include flex(space-between,center);
        .Header__NavBar__RightMenu,.Header__NavBar__LeftMenu{
            ul{
                @include flex(space-between,center);
                li {
                    padding: 0px 18px;
                    .mostache{
                        display: none;
                    }
                }
            } 
            .moustache_zone_before_showed{
                display: contents;   
            }
            button{
                position: relative;
                left: 20px;
            }
            .item_navbar_menu {
                transition: 0.5s ease-in-out;
                font-weight: 100 !important;
                padding: 0px 24px ;

                &:hover{
                    font-weight: 100 !important;
                }
            }

            .item_navbar_menu_scroll {
                color: white !important;
                font-weight: 100 !important;
                padding: 0px 24px !important;
            }
            .mostache__default,.mostache__native,.mostache_retation,.mostache_scroll{
                transition: 0.5s ease-in-out;
                cursor: pointer;
            }
            .mostache_native {
                transform: rotate(0deg); 
            }
            .mostache_retation {
                transform: rotate(180deg); 
            }
            .mostache__default{
                fill: $black;
            }
            .mostache_scroll {
                fill: $white;
            }
        }        
    }
    @media only screen and (max-width : 1024px) {
        button{
            position: initial !important;
        }
        .item_navbar_menu {
            padding: 0px 20px !important;
        }
    }
    @media only screen and (max-width: 991px) {
        .Header__NavBar__RightMenu{
            .menu__item {
                display: none;
            }
        }
        .Header__NavBar__LeftMenu{
            .mostache{
                display: flex !important;
                transition: 0.5s ease-in-out;
                width: 55px;
                height: 55px;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        .Header__NavBar__LeftMenu{
            .header__connexion,
            .header__button {
                display: none !important;
            }
            .burger_menu {
                text-align: -webkit-right !important;
                text-align: -moz-right !important;
            }
        }
    }
}
.header_scroll{
    background-color: $primary-100;
    padding: 0px 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    position: fixed;
    z-index: 1030;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
}