.navbar{
    z-index: 2000;
    position: relative;
    padding: 30px 0px;
    @include flex(space-between,center);
    .navbar__logo{
        width: 20%;
        text-align: center;
        h1{
            font-family: $primary-light;
            font-family: 'countryside';
            font-size: 30px;
            font-weight: bolder !important;
            cursor: pointer;
            color: white
        }
    }
    .navbar__menu{
        width: 100%;
        @include flex(center,center);
        a {
            display: block;
            font-family: $primary-light;
            font-size: 17px;
            transition: 0.3s ease-in-out;
            font-weight: 600;
            color: $black;
            padding: 0px 25px;
            &:hover{
                color:$primary-100 ;
            }
        }
    }
    .navbar__book{
        width: 20%;
        .user__name__navbar{
            font-family: $primary-light;
            font-family: 'countryside';
            font-size: 30px;
            font-weight: bolder !important;
            cursor: pointer;
            color: black
        }
            button {
                font-family: $primary-light;
                font-size: 16px;
                transition: 0.5s ease-in-out;
                font-weight: 300;
                border-radius: 25px;
                padding: 8px 45px;
                cursor: pointer;
                background-color: $primary-100;
                color: $white;
                &:hover {
                    background-color: $white;
                    color: $primary-100;
                    border: 1px solid $primary-100;
                }
            }    
    }
    @media only screen and (max-width: 768px) {
        .navbar__menu{
            a {
                padding: 0px 10px;
            }
        }
    }
    @media only screen and (max-width: 560px) {
        .navbar__menu{
            display: none;
        }
        .navbar__book{
            width: 50%;
            text-align: end;
            button{
                font-size: 15px;
                padding: 9px 40px;
            }
        }
        .navbar__logo{
            width: 50%;
            text-align: start;
        }
    }
    
}

