.Inscription,.login{
  position: relative;
  z-index: 10000000000;
    background-color: #ffffff;
    width: 20%;
    position: fixed;
    text-align: center;
    padding: 30px 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px 1px black;
    transform: translate(110%, 0%);

    input,button{
      display: block;
    }
    h3{
      font-family: $primary-SemiBold;
      font-weight: bolder;
    }
  
        input{
          display: block;
          border-radius: 30px;
          padding: 8px 5px;
          box-shadow: 0px 0px 3px 0px black;
          padding-left: 33px;
          margin: 20px auto;
          outline: none;
          width: 70%;
        }
        .btn__form {
          margin-top: 30px;
          font-family: $primary-light;
          font-size: 16px;
          transition: 0.5s ease-in-out;
          font-weight: 300;
          border-radius: 25px;
          padding: 8px 45px;
          cursor: pointer;
          background-color: $primary-100;
          color: $white;
          margin:0px auto;
          &:hover {
              background-color: $white;
              color: $primary-100;
              border: 1px solid $primary-100;
          }
      } 
      .button_token_dont_have,.row__back{
        margin:20px auto;
        background: none;
        border: none;
        cursor: pointer;
        &:hover{
          color: $primary-100;
        }
      }

      .your__token{
        color: $primary-100;
        padding: 10px 0px;
      }
      .row__back{
        margin: 5px 0px;
        margin-left: auto;
        position: relative;
        right: 18px;
        svg{
          fill: $primary-100;
          width: 30px;
          height: 30px;
        }
      }

      @media only screen and (max-width: 1024px) {
        width: 40%;
        transform: translate(30%, 50%);
    }
    @media only screen and (max-width: 768px) {
        width: 50%;
        transform: translate(30%, 0%);
    }
    @media only screen and (max-width: 560px) {
      width: 80%;
      transform: translate(0%, -5%);
  }
  }
  .error__form{
    color: crimson;
    padding: 10px 0px;
  }